* {
  margin: 0;
  padding: 0;
  border-style:dotted;
  box-sizing: border-box;
}
.part_1{
  display: flex;
  justify-content: center;
}
.header_logo{
  background-color: aqua;
  display: flex;
  width: 900px;
  justify-content: left;
}
.link{
  display: flex;
  border: 1px solid #fff;
  background-color: yellow;
  width:900px;
  justify-content: space-around;
  
}
